################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimCorpsAssignment/.vs/SimCorpsAssignment
/SimCorpsAssignment/Collections/obj
/SimCorpsAssignment/CollectionsTests/obj
/SimCorpsAssignment/Collections/bin/Debug
/SimCorpsAssignment/CollectionsTests/bin/Debug
